<ion-content class="ion-padding">

  <h1>
    <ion-icon name="people" color="primary" class="icon-7rem center"></ion-icon>
  </h1>

  <form [formGroup]="authForm" (submit)="onSubmit()" class="ion-margin">
    <ion-item class="ion-margin" color="dark">
      <ion-icon name="mail-outline" color="primary" slot="start"></ion-icon>
      <ion-input type="email" placeholder="Email" formControlName="email" inputmode="email" autofocus="true">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin" color="dark">
      <ion-icon name="lock-closed-outline" color="primary" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="authForm.invalid">Login</ion-button>
  </form>

  <ion-button expand="block" fill="outline">Create account</ion-button>
  <ion-button expand="block" class="ion-margin">
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    Login with facebook
  </ion-button>

</ion-content>