<ion-header>

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ pageMode + ' Task' }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="taskForm" (submit)="onSubmit()">

    <ion-item class="ion-margin">
      <ion-icon name="clipboard-outline" slot="start" color="primary"></ion-icon>

      <ion-input
        type="text"
        placeholder="Title"
        autofocus="true"
        inputmode="text"
        formControlName="title"
      >
      </ion-input>

      <ion-toggle *ngIf="taskId" slot="end" color="primary" formControlName="done"></ion-toggle>

    </ion-item>

    <ion-item *ngIf="!taskId" class="ion-margin">
      <ion-icon name="apps-outline" slot="start" color="primary"></ion-icon>
      <ion-select placeholder="Type" formControlName="type">
        <ion-select-option value="quest">Quest</ion-select-option>
        <ion-select-option value="boss">Elder druid</ion-select-option>
        <ion-select-option value="access">Master sorcerer</ion-select-option>
        <ion-select-option value="hunt">Royal paladin</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!taskId" class="ion-margin">
      <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
      <ion-select placeholder="vocation" formControlName="vocation">
        <ion-select-option value="EK">Elite knight</ion-select-option>
        <ion-select-option value="ED">Elder druid</ion-select-option>
        <ion-select-option value="MS">Master sorcerer</ion-select-option>
        <ion-select-option value="RP">Royal paladin</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!taskId" class="ion-margin">
      <ion-icon name="body-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Blocker necessary?</ion-label>
      <ion-toggle slot="end" color="primary" formControlName="blocker"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="!taskId" class="ion-margin">
      <ion-icon name="heart-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Healer necessary?</ion-label>
      <ion-toggle slot="end" color="primary" formControlName="healer"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="!taskId" class="ion-margin">
      <ion-icon name="bonfire-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Shotter necessary?</ion-label>
      <ion-toggle slot="end" color="primary" formControlName="dps"></ion-toggle>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="taskForm.invalid">
      {{ pageMode }}
    </ion-button>
  </form>
</ion-content>
