<ion-header>

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ pageMode + ' Task' }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="taskForm" (submit)="onSubmit()">

    <ion-item class="ion-margin">
      <ion-icon name="clipboard-outline" slot="start" color="primary"></ion-icon>

      <ion-input
        type="text"
        placeholder="Title"
        autofocus="true"
        inputmode="text"
        formControlName="title"
      >
      </ion-input>

      <ion-toggle *ngIf="taskId" slot="end" color="primary" formControlName="done"></ion-toggle>

    </ion-item>

    <ion-item class="ion-margin">
      <ion-icon name="apps" slot="start" color="primary"></ion-icon>

      <ion-input
        type="text"
        placeholder="Type"
        inputmode="text"
        formControlName="type"
      >
      </ion-input>

    </ion-item>

    <ion-item class="ion-margin">
      <ion-icon name="body-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Blocker necessary?</ion-label>
      <ion-toggle slot="end" color="primary" formControlName="blocker"></ion-toggle>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-icon name="heart-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Healer necessary?</ion-label>
      <ion-toggle slot="end" color="primary" formControlName="healer"></ion-toggle>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="taskForm.invalid">
      {{ pageMode }}
    </ion-button>
  </form>
</ion-content>
